@{
    ViewData["Title"] = "Home Page";
}



@*<div class="text-center">
    <h1 class="display-4">Привет</h1>
    <h2>Введите свои имена, если хотите поиграть</h2>

</div>
*@
<div class="cen">
    <p>
        <label id="border">1</label>
        <label id="border">1</label>
        <label id="border">1</label>
    </p>
    <p>
        <label id="border">2</label>
        <label id="border">2</label>
        <label id="border">2</label>
    </p>
    <p>
        <label id="border">3</label>
        <label id="border">3</label>
        <label id="border">3</label>
    </p>
</div>



<style>
    .cen{
        margin: 0; /*Чтоб не расползалось всё по экрану*/
        max-width: 1200px; /*Чтоб не расползалось всё по экрану*/
        text-align: center;
    }
    #border{
        font-weight:bold;
        height:60px;
        width:60px;
        background-color: lime;
        border: 4px;
        border-color:black;
    }
</style>