@{
    ViewData["Title"] = "Home Page";
}



@*<div class="text-center">
    <h1 class="display-4">Привет</h1>
    <h2>Введите свои имена, если хотите поиграть</h2>

</div>
*@
<dix>
    <h1>Привет!</h1>
    <h2>Впиши имя и начни играть</h2>
    <input type="text"  name="Player"id="myform" required
           minlength="4" maxlength="8" size="10"/>
    <button href="Start.cshtml" type="submit">Начать игру!</button>
</dix>